


<h1 class="text-center">Eats-Sa-Burger!</h1>

<ul>
    {{#each burger}}
    <h3>
        {{burger_name}}
        <button data-id="{{id}}" data-devoured="{{devoured}}" class="btn btn-primary btn-md dev">Devoured</button>
    </h3>    
    
    {{/each}}
</ul>

<form class="create-form text-center">

  <div class="form-group">
    <input type="text" id="bur" name="name">
  </div>

  <button id="addNew" class="btn btn-primary btn-md" type="submit">Add a Burger</button>
</form>