
{{!-- <img src="../public/assets/img/freddie-marriage-68449.jpg" alt="Some Image"> --}}

<h1 class="text-center">Eats-Sa-Burger!</h1>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{>burgers/burger-block sleep=true}}
        {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
        {{#if devoured}}   
            {{> burgers/burger-block devoured=false}}
        {{/if}}
    {{/each}}
</ul>

<form class="create-form text-center">
    <div class="form-group">
        <textarea name="bu"></textarea>
    </div>
    <button id="addNew" class="btn btn-primary btn-md"type="submit">Submit</button>
</form>